#caret {
  height: 1.2em;
  background: var(--caret-color);
  animation: caretFlashSmooth 1s infinite;
  position: absolute;
  border-radius: var(--roundness);
  // transition: 0.05s;
  transform-origin: top left;

  &.default {
    width: 0.1em;
  }
}
