:root {
  --roundness: 0.5rem;
  --font: "Be Vietnam Pro", system-ui, sans-serif;
  // scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-weight: 400;

  --balloon-font-size: 1rem;
  --balloon-border-radius: calc(var(--roundness) / 2);
}

::placeholder {
  color: var(--sub-color);
  opacity: 1;
  /* Firefox */
}

::selection {
  background-color: var(--main-color);
  color: var(--sub-alt-color);
}

#app {
  min-height: 100vh;
  grid-template-rows: [top-start] auto [content-start] 1fr [content-end] auto [top-end];
  overflow: hidden;
  row-gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

// from an amazing guide by Kevin Powell https://www.youtube.com/watch?v=c13gpBrnGEw
.content-grid {
  --padding-inline: 2rem;
  --content-max-width: 1536px;

  --breakout-size: calc(
    (calc(var(--content-max-width) + 12rem) - var(--content-max-width)) / 2
  );

  justify-content: center;
  display: grid;
  grid-template-columns:
    [full-width-start]
    var(--padding-inline)
    [full-width-padding-start]
    minmax(0, 1fr)
    [breakout-start]
    minmax(0, var(--breakout-size))
    [content-start]
    min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(0, var(--breakout-size))
    [breakout-end]
    minmax(0, 1fr)
    [full-width-padding-end]
    var(--padding-inline)
    [full-width-end];
}

.content-grid > :not(.breakout, .full-width, .full-width-padding) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}

.content-grid > .full-width-padding {
  grid-column: full-width-padding;
}

main {
  display: grid; //stupid fix for stupid safari
}

#nocss {
  display: none !important;
  pointer-events: none;
}

.ffscroll {
  scrollbar-width: thin;
  scrollbar-color: var(--sub-color) transparent;
}

html {
  @extend .ffscroll;
  overflow-y: scroll;
  scroll-behavior: smooth;
  line-height: 1.25;
}

a {
  display: inline-block;
  color: var(--sub-color);
  transition:
    color 0.125s,
    opacity 0.125s,
    background 0.125s;
  &:hover {
    color: var(--text-color);
  }
  &:focus-visible {
    outline: none;
    box-shadow:
      0 0 0 0.1rem var(--bg-color),
      0 0 0 0.2rem var(--text-color);
    border-radius: calc(var(--roundness) / 2);
  }
}

a[router-link] * {
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font);
  color: var(--text-color);
  overflow-x: hidden;
  background: var(--bg-color);
}

.pageLoading {
  height: 100%;
  display: grid;
  align-items: center;
}

* {
  box-sizing: border-box;
}

// mouseover texts
[aria-label][data-balloon-pos]::after {
  font-family: var(--font);
  font-size: var(--balloon-font-size);
  line-height: var(--balloon-font-size);
}

// this here to prevent tooltips from showing when an element is focused via mouse click
// to avoid reappearing popups after clicks, WITHOUT breaking keyboard nav.
// so shortly we show balloon tooltips on hover and keyboard focus only. not on mouse focus!
@supports selector(:focus-visible) {
  [aria-label][data-balloon-pos]:focus:not(:focus-visible):not(:hover)::before,
  [aria-label][data-balloon-pos]:focus:not(:focus-visible):not(:hover)::after {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }
}
