@use "./media.scss" as *;

@include media-query(purple) {
  .content-grid {
    --content-max-width: 100%;
    --padding-inline: 1rem;
  }
  .pageTest {
    #result .wrapper {
      .stats {
        grid-template-columns: 1fr;
        grid-template-areas: "wpm" "acc";
        width: max-content;
        justify-items: start;
        justify-self: center;
      }
      .morestats {
        justify-self: unset;
        width: unset;

        .group .bottom::after {
          transform: none;
          left: 0;
        }
      }
      .buttons {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: unset;
        #nextTestButton {
          grid-column: span 2;
        }
      }
    }
  }
}
