@use "./media.scss" as *;

@include media-query(green) {
  .content-grid {
    --content-max-width: 768px;
  }
  .pageTest {
    #result .wrapper .stats.morestats {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      grid-template-rows: 1fr 1fr;
    }
  }
}
