.highlightContainer {
  position: absolute;
  overflow: hidden;
  pointer-events: none;

  .highlight {
    margin: 0px;
    padding: 0px;
    height: 100%;
    position: absolute;
    background-color: var(--sub-color);
    border-radius: var(--roundness);
    opacity: 1;
    transition: opacity 0.125s linear;

    overflow: hidden;
    z-index: 1;

    &.withAnimation {
      transition:
        left 0.25s ease,
        right 0.25s ease,
        opacity 0.125s linear;
    }

    &.highlight-hidden {
      opacity: 0;
    }
  }

  .inputWord {
    color: var(--bg-color);
    position: absolute;
    font-size: 1em;
    line-height: 1em;
    font-variant: no-common-ligatures;
  }

  .inputWordsContainer {
    position: relative;
    &.withAnimation {
      transition: all 0.25s ease;
    }
  }
}

.pageTest {
  position: relative;

  #testInitFailed {
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
    .message {
      max-width: 800px;
      grid-area: content;
      justify-self: center;
    }
    .error {
      margin-top: 2rem;
    }
    button {
      padding: 1rem 2rem;
      margin-top: 2rem;
    }
  }

  #typingTest {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .ssWatermark {
    font-size: 1.25rem;
    color: var(--sub-color);
    display: flex;
    justify-content: flex-end;
    gap: 0 1em;
    flex-wrap: wrap;
  }
}

#words {
  height: fit-content;
  padding-bottom: 0.5em; // to account for hints of the bottom line
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
  user-select: none;

  .newline {
    width: inherit;
  }

  .beforeNewline {
    display: inline-block;
    vertical-align: top;
    margin: 0.25em 0;
    box-sizing: content-box;
    height: 1em; //.word line-height
    border-top: 0.05em solid transparent; // letter border-bottom
    border-bottom: 2px solid transparent; //.word border
  }

  .afterNewline {
    display: inline-block;
  }

  --correct-letter-color: var(--text-color);
  --correct-letter-animation: none;
  --untyped-letter-color: var(--sub-color);
  --untyped-letter-animation: none;
  --incorrect-letter-color: var(--error-color);
  --incorrect-letter-animation: none;
  --extra-letter-color: var(--error-extra-color);
  --extra-letter-animation: none;

  .word {
    letter {
      color: var(--untyped-letter-color);
      animation: var(--untyped-letter-animation);
      border-bottom-style: solid;
      border-bottom-width: 0.05em;
      border-bottom-color: transparent;
      &.dead {
        border-bottom-width: 0.05em;
        border-bottom-color: var(--untyped-letter-color);
      }
      &.tabChar,
      &.nlChar {
        // margin: 0 0.25rem;
        opacity: 0.2;
        svg {
          line-height: 0;
        }
      }

      &.debugCaret {
        outline: 1px solid var(--sub-color);
      }
      &.debugCaretTarget {
        outline: 2px solid red;
      }
      &.debugCaretTarget2 {
        outline: 2px solid yellow;
      }
      &.correct {
        color: var(--correct-letter-color);
        animation: var(--correct-letter-animation);
      }

      &.corrected {
        color: var(--correct-letter-color);
        animation: var(--correct-letter-animation);
        border-bottom: 2px dotted var(--main-color);
      }

      &.extraCorrected {
        border-right: 2px dotted var(--main-color);
      }

      &.incorrect {
        color: var(--incorrect-letter-color);
        animation: var(--incorrect-letter-animation);
      }

      &.incorrect.extra {
        color: var(--extra-letter-color);
        animation: var(--extra-letter-animation);
      }

      &.missing {
        opacity: 0.5;
      }
    }
    & .hints hint {
      position: absolute;
      bottom: -1.1em;
      color: var(--correct-letter-color);
      animation: var(--correct-letter-animation);
      line-height: initial;
      font-size: 0.75em;
      text-shadow: none;
      padding: 1px;
      left: 0;
      opacity: 0.5;
      text-align: center;
      display: grid;
      justify-content: center;
      transform: translate(-50%);
    }
  }

  // the drill's layout, see updateDrillLayout in test-ui.ts
  &.joiningScript {
    .word {
      overflow-wrap: anywhere;
      padding-bottom: 0.05em; // compensate for letter border

      .hints {
        overflow-wrap: initial;
      }

      letter {
        display: inline;
      }
    }
    .beforeNewline {
      border-top: unset;
      padding-bottom: 0.05em;
    }
  }
  &.blurred {
    opacity: 0.25;
    filter: blur(4px);
  }
}

.word {
  position: relative;
  font-size: 1em;
  line-height: 1em;
  margin: 0.25em 0.3em;
  font-variant: no-common-ligatures;
  border-bottom: 2px solid transparent;
  letter {
    display: inline-block;
  }

  &.nocursor {
    cursor: none;
  }

  &.error {
    /*   margin-bottom: 1px; */
    border-bottom: 2px solid var(--error-color);
    text-shadow:
      1px 0px 0px var(--bg-color),
      // 2px 0px 0px var(--bg-color),
      -1px 0px 0px var(--bg-color),
      // -2px 0px 0px var(--bg-color),
      0px 1px 0px var(--bg-color),
      1px 1px 0px var(--bg-color),
      -1px 1px 0px var(--bg-color);
  }
}

#words.noErrorBorder {
  .word.error {
    text-shadow: none;
  }
}

#wordsInput {
  width: 0;
  font-size: 1em;
  height: 1em;
  opacity: 0;
  padding: 0;
  margin: 0 auto;
  border: none;
  outline: none;
  display: block;
  resize: none;
  position: absolute;
  z-index: -1;
  cursor: default;
  pointer-events: none;
  border-radius: 0;
  caret-color: transparent;
  overflow: hidden;
  // if the text wraps, ctrl backspace will not work on firefox >:|
  // and holy shit do not use white-space: nowrap here because the hellspawn that is safari
  // is TRIMMING the value on focus when using that (and the input system relies on a leading space)
  text-wrap-mode: nowrap;
  contain: strict;
}

.pageTest > .loading {
  text-align: center;
  & > svg {
    font-size: 2rem;
    color: var(--main-color);
  }
  opacity: 0;
  &:not(.hidden) {
    animation-name: fadeIn;
    animation-duration: 0.125s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }
}

#result {
  &:focus-visible {
    outline: none;
  }

  &.noBalloons {
    [aria-label][data-balloon-pos]::before,
    [aria-label][data-balloon-pos]::after {
      display: none;
    }
  }

  &:focus {
    outline: none;
  }

  .wrapper {
    display: grid;
    // height: 200px;
    gap: 1rem;
    // grid-template-columns: auto 1fr;
    // justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-areas:
      "stats"
      "morestats";

    button {
      padding: 1em 2em;
    }

    .buttons {
      display: grid;
      grid-auto-flow: column;
      gap: 1rem;
      justify-content: center;
      grid-column: 1/3;
    }

    .ssWatermark {
      grid-column: 1/3;
    }

    #retrySavingResultButton {
      margin: 0 auto 1rem auto;
      display: flex;
    }

    .bottom {
      grid-column: 1/-1;
    }

    .stats {
      grid-area: stats;
      display: grid;
      // column-gap: 0.5rem;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      // grid-template-areas:
      //   "wpm acc"
      //   "wpm key"
      //   "raw time"
      //   "consistency consistency"
      //   "source source"
      //   "leaderboards leaderboards"
      //   "testType infoAndTags";
      // grid-template-areas:
      //   "wpm acc key consistency testType leaderboards source"
      //   "wpm raw time nothing infoAndTags leaderboards source";
      grid-template-areas:
        "wpm"
        "acc";

      &.morestats {
        display: grid;
        grid-auto-flow: column;
        grid-template-areas: none;
        align-items: flex-start;
        justify-content: space-between;
        column-gap: 2rem;
        grid-area: morestats;

        // grid-template-areas: "raw consistency testType infoAndTags leaderboards source"
        //   "key time testType infoAndTags leaderboards source";
        .subgroup {
          display: grid;
          gap: 0.5rem;
        }
      }

      .group {
        // margin-bottom: 0.5rem;

        .top {
          color: var(--sub-color);
          font-size: 1rem;
          line-height: 1rem;
          margin-bottom: 0.25rem;
        }

        .bottom {
          color: var(--main-color);
          font-size: 2rem;
          line-height: 2rem;
        }

        &.time {
          .afk {
            color: var(--sub-color);
            font-size: 0.75rem;
            line-height: 0.75rem;
            margin-left: 0.2rem;
          }
        }

        &.dailyLeaderboard {
          max-width: 13rem;
          white-space: nowrap;
        }
      }

      // .infoAndTags {
      //   display: grid;
      //   gap: 0.5rem;
      //   align-self: baseline;
      //   // grid-area: infoAndTags;
      //   color: var(--sub-color);

      //   .top {
      //     font-size: 1rem;
      //     line-height: 1rem;
      //   }

      //   .bottom {
      //     font-size: 1rem;
      //     line-height: 1rem;
      //   }
      // }

      .info {
        .top {
          display: flex;
          align-items: center;
          font-size: 1rem;
          line-height: 1rem;
        }

        .bottom {
          font-size: 1rem;
          line-height: 1rem;
        }
      }

      .wpm {
        grid-area: wpm;

        .top {
          font-size: 2rem;
          line-height: 1.5rem;
          display: flex;

          .crown {
            margin-left: 0.5rem;
            margin-top: -0.2rem;
            font-size: 1rem;
            background: var(--main-color);
            color: var(--bg-color);
            width: 1.7rem;
            height: 1.7rem;
            border-radius: var(--roundness);
            display: grid;
            align-items: center;
            justify-items: center;
            transition: opacity 0.125s;
          }
        }

        .bottom {
          font-size: 4rem;
          line-height: 4rem;
        }
      }

      .testType,
      .leaderboards {
        .bottom {
          font-size: 1rem;
          line-height: 1.25;
        }
      }

      .acc {
        grid-area: acc;

        .top {
          font-size: 2rem;
          line-height: 1.5rem;
        }

        .bottom {
          font-size: 4rem;
          line-height: 4rem;
        }
      }

      .burst {
        grid-area: burst;

        .top {
          font-size: 2rem;
          line-height: 1.5rem;
        }

        .bottom {
          font-size: 4rem;
          line-height: 4rem;
        }
      }

      // .key {
      //   grid-area: key;
      // }

      // .time {
      //   grid-area: time;
      // }

      // .raw {
      //   grid-area: raw;
      // }
    }
  }
}

#restartTestButton {
  font-size: 1rem;
  margin: 1rem auto 0 auto;
  display: flex;
  padding: 1em 2em;
}

.pageTest {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.pageTest {
  #wordsWrapper {
    position: relative;
    overflow: visible clip;
  }
}

main.focus .pageTest {
  #restartTestButton {
    opacity: 0 !important;
    &:focus-visible {
      opacity: 1 !important;
    }
  }
}
